{% extends 'base.html' %}


{% block head %}

<title>Xmeme</title>

{% endblock %}

{% block body %}
<br>
<h1>🆇meme</h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>Welcome to the 🆇meme , Memers Delight</p>
            <p>Reach out to me <a href="https://mohdjamil-mj.netlify.app" target="_blank">Mohd Jamil</a> to check out more cool stuff beyond just memes.</p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button">Meme Stream &raquo;</a>
                <br>
                <a class="btn btn-primary" href="/posts/new" role="button">＋Create &raquo;</a>
            </p>
        </div>
    </div>
</main>

{% endblock %}